<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/islamic-econs.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Static Website for NGO </h3>
    <p>Created a static website for the NGO company using HTML & CSS and setup for them from A-Z.</p>
    <a class="project-link" href="http://islamic-econs.org/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/global-launch.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Static Website for Intern Company </h3>
    <p>Created a static website for intern company by modifying a theme which the manager selected.</p>
    <a class="project-link" href="https://globallaunch.com.my/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/devfest.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DevFest by GDGKL </h3>
    <p>DevFest are community-lead, dev events hosted by GDGKL (Google Developers Group Kuala Lumpur) focused on community building and learning on Google`s tech.</p>
    <a class="project-link" href="http://islamic-econs.org/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/wataniah.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Territorial Army (Askar wataniah) </h3>
    <p>Serve my country as a Territorial Army for 5 years. Attended a one month course for rank promotion to Lance Corporal</p>
    <a class="project-link" href="https://globallaunch.com.my/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pertama_and_pmftsm.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Universities Faculty Student Representative </h3>
    <p>I was a student representative during both Diploma and Degree. During Diploma I was entitled with Vice President and during Degree was entitled with Vice Exco 1 for Protocol Committee </p>
    <a class="project-link" href="http://islamic-econs.org/">Check it out</a>
  </div>
</div>
